@model CafeWeb.Models.Admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Giriş</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/admin/dist/css/adminlte.min.css">

    <style>
        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Giriş Yapınız</p>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post,new { ReturnUrl=Request.QueryString["ReturnUrl"] }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationMessageFor(m => m.kullaniciAdi)
                    <div class="input-group mb-3">

                        @Html.TextBoxFor(m => m.kullaniciAdi, new { @class = "form-control", placeholder = "Kullanıcı Adı", autofocus = "autofocus" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>

                    </div>
                    @Html.ValidationMessageFor(m => m.Sifre)

                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.Sifre, new { @class = "form-control", placeholder = "Şifre" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <label>
                                    @Html.CheckBoxFor(m => m.BeniHatirla)
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                    </div>
                    <!-- /.col -->

                    <!-- /.col -->
                }

                @if (ViewBag.Hata != null)
                {
                    <div class="alert alert-danger mt-4">
                        <label>
                            @ViewBag.Hata
                        </label>
                    </div>
                }
            </div>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Content/admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/admin/dist/js/adminlte.min.js"></script>
</body>
</html>


